DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_POOL_SIZE=3

LOG_FILES=/var/log/nginx/PROJECT_NAME_1.log,/var/log/nginx/PROJECT_NAME_1.log

RATE_WINDOW_SECONDS=60
RATE_BURST_THRESHOLD=60
ERROR_404_THRESHOLD=10
ERROR_403_THRESHOLD=5

POLL_INTERVAL=0.5
CLEANUP_INTERVAL=300